@font-face {
  font-family: 'Ubuntu';
  src: url('/storage/fonts/ubuntu/Ubuntu.woff2') format('woff2'),
       url('/storage/fonts/ubuntu/Ubuntu.woff') format('woff'),
       url('/storage/fonts/ubuntu/Ubuntu.ttf') format('truetype'),
       url('/storage/fonts/ubuntu/Ubuntu.otf') format('otf');
}

:root {
  --primary-dark: #ffffff;
  --primary-light: #000000;
  --secondary-light: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--primary-light);
  background-image: url('seraph.jpg');
  color: var(--primary-dark);
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

h1 {
  line-height: 1.2;
}

button,
input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* HEADER */

.header {
  padding: 30px 0;
}

.title {
  text-align: center;
  font-size: 80px;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}

button {
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: 3px solid white;
  border-radius: 5px;
}

button.active {
  background-color: #232020;
  color: #ffffff;
}

button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
  -webkit-appearance: none;
  width: 80px;
  height: 80px;
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type='color']::-webkit-color-swatch {
  border: 3px solid white;
}

.size-value {
  margin-bottom: -20px;
  font-size: 20px;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: var(--primary-light);
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  border: 1px solid var(--primary-dark);
  border-radius: 25px;
  background: var(--secondary-light);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 25px;
  margin-top: -8px;
  background: var(--primary-dark);
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: var(--secondary-light);
  border: 10px solid white;
}

.grid-element {
  user-select: none;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
}

.fa-github {
  color: var(--primary-dark);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  .main {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .main {
    gap: 50px;
  }

  .settings {
    width: 150px;
    gap: 16px;
  }

  .size-value {
    margin-bottom: -4px;
  }

  .grid {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 50px;
  }

  .main {
    flex-direction: column-reverse;
  }

  .grid {
    width: 300px;
    height: 300px;
  }
}
