@import url('/storage/css/themes.css');

:root {
    --background-image: url('/images/backgrounds/seraph/appsbg.jpg');
    --hover-color: #a19b9b;
}
:root.theme-azurite {
    --background-image: url('/images/backgrounds/azure/appsbg.jpg');
}
:root.theme-retro {
    --background-image: url('/images/backgrounds/retro/appsbg.jpg');
}
:root.theme-cosmic {
    --background-image: url('/images/backgrounds/cosmic/appsbg.jpg');
}
:root.theme-molten {
    --background-image: url('/images/backgrounds/molten/appsbg.jpg');
}
:root.theme-amethyst {
    --background-image: url('/images/backgrounds/amethyst/appsbg.jpg');
}
:root.theme-ethereal {
    --background-image: url('/images/backgrounds/ethereal/appsbg.jpg');
}
:root.theme-misinformation {
    --background-image: url('/images/backgrounds/misinformation/appsbg.gif');
}
:root.theme-subzero {
    --background-image: url('/images/backgrounds/subzero/appsbg.jpg');
}
:root.theme-metro {
    --background-image: url('/images/backgrounds/metro/appsbg.jpg');
}
:root.theme-ghostly {
    --background-image: url('/images/backgrounds/ghostly/appsbg.jpg');
    --hover-color: #d2c4c4;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    overflow-x: hidden;

    opacity: 1;
    animation: fadein 0.75s forwards ease-in-out;

    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: var(--text-color);
}

h1, h2 {
    font-family: var(--font-family); 
}

h1 {
    font-size: 48px;
    text-shadow: 0 0 10px var(--text-color),
                 0 0 10px var(--text-glow),
                 0 0 30px var(--text-glow),
                 0 0 40px var(--text-color),
                 0 0 50px var(--text-glow),
                 0 0 60px var(--text-color),
                 0 0 70px var(--text-glow),
                 0 0 80px #000000;
}

.button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 3px solid var(--border-color2);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;

    width: 400px;
    max-width: 400px;

    height: 240px;
    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 10px;

    background-repeat: no-repeat;
    background-size: cover;

    border: 3.2px solid var(--border-color2);
    border-radius: 16px;

    transition: border 0.04s ease-in;
}

.button:hover {
    background-color: var(--background-color);
    border: 3.2px solid var(--hover-color);
}

.button h2 {
    font-size: 32px;
    text-align: center;
}

.button p {
    padding-left: 10%;
    padding-right: 10%;
}

input {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2px;
    border: 2px solid var(--border-color2);
    border-radius: 16px;
    width: 0%;
    max-width: 450px;
    font-size: 20px;
    font-family: var(--font-family);
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    opacity: 0;
    animation: searchTween 2.5s ease-in-out forwards;
    animation-delay: 0s;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes searchTween {
    0% {
        width: 0%;
        opacity: 0;
    }

    55% {
        opacity: 0.9;
    }

    100% {
        width: 70%;
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: var(--text-color);
}


.linkp a {
    font-size: 17px;
    text-decoration: underline;
    text-align: center;
    border: 3px solid transparent;
    transition: 0.15s ease-in-out;

    opacity: 0;
    animation: fadein 1s forwards ease-in-out;
    animation-delay: 0.25s;
}
