@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu.woff2') format('woff2'),
         url('../fonts/ubuntu/Ubuntu.woff') format('woff'),
         url('../fonts/ubuntu/Ubuntu.ttf') format('truetype'),
         url('../fonts/ubuntu/Ubuntu.otf') format('otf');
}

@font-face {
    font-family: 'PixelifySans';
    src: url('../fonts/pixelifysans/pixelifysans.woff2') format('woff2'),
         url('../fonts/pixelifysans/pixelifysans.woff') format('woff'),
         url('../fonts/pixelifysans/pixelifysans.ttf') format('truetype'),
         url('../fonts/pixelifysans/pixelifysans.otf') format('otf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata/Inconsolata.woff2') format('woff2'),
         url('../fonts/inconsolata/Inconsolata.woff') format('woff'),
         url('../fonts/inconsolata/Inconsolata.ttf') format('truetype'),
         url('../fonts/inconsolata/Inconsolata.otf') format('otf');
}

:root {
    --background-image: url('../../images/backgrounds/seraph/gamebg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: #fff;
    --background-color: black;
    --border-color1: #ffffff;
    --border-color2: #c1bcbc;
    --hover-color: #1a1818;
    --text-glow: #000000
}

:root.theme-azurite {
    --background-image: url('../../images/backgrounds/azure/gamesbg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: #c8d9e9; 
    --border-color1: #2d6cc4;
    --border-color2: #111633;
    --background-color: #495092; 
    --hover-color: #373e7d;
    --text-glow: #4e5bd0;
}

:root.theme-retro {
    --background-image: url('../../images/backgrounds/retro/gamesbg.png');
    --font-family: 'PixelifySans', 'Ubuntu', sans-serif;
    --text-color: #ffffff; 
    --border-color1: #2fce56;
    --border-color2: #375945;
    --background-color: #2f8154;
    --hover-color: #258a79;
    --text-glow: #4ed089;
}

:root.theme-cosmic {
    --background-image: url('../../images/backgrounds/cosmic/gamesbg.png');
    --font-family: 'Inconsolata', 'Ubuntu', sans-serif;
    --text-color: #ffffff; 
    --border-color1: #d9d9d9;
    --border-color2: #3e3d3d;
    --background-color: #121212;
    --hover-color: #181a1a;
    --text-glow: #d6c9c9;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    overflow-x: hidden;

    opacity: 1;
    animation: fadein 0.75s forwards ease-in-out;

    background-image: var(--background-image);
    background-repeat: repeat;

    color: var(--text-color);
    cursor: none;
}

h1, h2 {
    font-family: var(--font-family);
}

h1 {
    font-size: 48px;
    padding-bottom: 0px;
    text-shadow: 0 0 10px var(--text-color),
                 0 0 10px var(--text-glow),
                 0 0 30px var(--text-glow),
                 0 0 40px var(--text-color),
                 0 0 50px var(--text-glow),
                 0 0 60px var(--text-color),
                 0 0 70px var(--text-glow),
                 0 0 80px #000000;
}

.button {
    background-color: var(--background-color);
    border: 3px solid var(--border-color2);

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;

    width: calc(50% - 10px); 
    max-width: 480px;

    width: 400px;
    max-height: 100px;
    box-sizing: border-box;

    padding-left: 10px;
    padding-right: 10px;

    background-repeat: no-repeat;
    background-size: cover;

    border: 3.2px solid var(--border-color2);
    border-radius: 16px;

    cursor: none;
    position: relative;
}

.button:hover {
    background-color: var(--background-color);
    border: 3.2px solid var(--border-color1);
}

.button h2 {
    font-size: 30px;
    text-align: center;

}

.pin-button {
    position: absolute;
    top: 5px;
    right: 5px; 
    cursor: none;
    z-index: 2; 
}

select {
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: none;
    width: 0%;
    max-width: 200px;
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    border: 2px solid var(--border-color1);
    border-radius: 32px;
    padding-left: 10px;
    cursor: none;
    padding-right: 10px;
    font-family: var(--font-family);
    text-align: center;
    animation: searchTween 3.5s ease-in-out forwards;
}


input {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 2px;
    border: 2px solid var(--border-color1);
    border-radius: 16px;
    width: 0%;
    max-width: 450px;
    font-size: 20px;
    font-family: var(--font-family);
    text-align: center;

    padding-top: 5px;
    padding-bottom: 5px;

    opacity: 0;
    animation: searchTween 2.5s ease-in-out forwards;
    animation-delay: 0s;

    cursor: none;
}

input::placeholder {
    color: var(--text-color);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pinned-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(5%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes searchTween {
    0% {
        width: 0%;
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        width: 70%;
        opacity: 1;
    }
}

a {
    text-decoration: none;
    color: white;
    cursor: none;
}

.cursor {
    width: 7px;
    height: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 1;
    z-index: 10000;
    
}

.linkp a {
    font-size: 17px;
    text-decoration: underline;
    text-align: center;
    border: 3px solid transparent;
    transition: 0.15s ease-in-out;

    opacity: 0;
    animation: fadein 1s forwards ease-in-out;
    animation-delay: 0.25s;
}

p {
    padding-left: 20%;
    padding-right: 20%;
}