@font-face {
    font-family: 'Main';
    src: url('../fonts/ubuntu/Ubuntu.woff2') format('woff2'),
         url('../fonts/ubuntu/Ubuntu.woff') format('woff'),
         url('../fonts/ubuntu/Ubuntu.ttf') format('ttf'),
         url('../fonts/ubuntu/Ubuntu.otf') format('otf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Main', sans-serif;
    display: flex;
    height: 100vh;
    background-color: black;
    animation: mainHeaderAnimation 2s forwards;
    cursor: none;
}

.content-side {
    width: 100%;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: mainHeaderAnimation 1s ease-in-out forwards;
    background-image: url('../../images/seraphbackground.png');

}

h1 {
    font-size: 96px;
    margin-bottom: 0px;
}

h2 {
    font-size: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    animation: paragraphTween 1.2s ease-in-out forwards;
}

.linkp a {
    font-size: 20px;
    text-align: center;
    border: 3px solid transparent;
    transition: 0.15s ease-in-out;
}

.linkp a:hover {
    color: rgb(199, 192, 192);
}
a {
    font-size: 18px;
    text-decoration: underline; 
    color: white;
    cursor: none;
}

.gamesbutton {
    background-color: #000000;
    color: white;
    width: 50%;
    max-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 0px;
    cursor: none;
    transition: background-color 0.15s ease-in-out;

    border: 3px solid transparent;
    border-image: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255));
    border-image-slice: 1;
    border-radius: 4px;
    animation: borderAnimation 1s infinite alternate;
    animation-delay: calc(var(--delay) * 1ms);
}

.gamesbutton:hover {
    background-color: #1a1818;
}

.cursor {
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.8;
    z-index: 10000;
    transition: transform 1s ease;
}


@keyframes mainHeaderAnimation {
    0% {
        opacity: 0;
        filter: blur(0px);
        transform: translateY(-30%);
    }

    100% {
        opacity: 1;
        filter: blur(0px);
        transform: translateY(0%);
    }
}

@keyframes paragraphTween {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, rgb(0, 0, 0), rgb(255, 255, 255));
    }
    100% {
        border-image-source: linear-gradient(45deg, rgb(255, 255, 255), rgb(0, 0, 0));
    }
}

