@import url('/storage/css/themes.css');

:root {
    --background-image: url('/images/backgrounds/seraph/hostbg.jpg');
}
:root.theme-azurite {
    --background-image: url('/images/backgrounds/azure/hostbg.jpg');
}
:root.theme-retro {
    --background-image: url('/images/backgrounds/retro/hostbg.jpg');
}
:root.theme-cosmic {
    --background-image: url('/images/backgrounds/cosmic/hostbg.jpg');
}
:root.theme-molten {
    --background-image: url('/images/backgrounds/molten/hostbg.jpg');
}
:root.theme-amethyst {
    --background-image: url('/images/backgrounds/amethyst/hostbg.jpg');
}
:root.theme-ethereal {
    --background-image: url('/images/backgrounds/ethereal/hostbg.jpg');
}
:root.theme-misinformation {
    --background-image: url('/images/backgrounds/misinformation/hostbg.gif');
}
:root.theme-subzero {
    --background-image: url('/images/backgrounds/subzero/hostbg.jpg');
}
:root.theme-metro {
    --background-image: url('/images/backgrounds/metro/hostbg.jpg');
}
:root.theme-ghostly {
    --background-image: url('/images/backgrounds/ghostly/hostbg.jpg');
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    display: flex;
    height: 100vh;
    background-color: var(--background-color);
    

    scrollbar-width: none; 
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0;
}

.content-side {
    width: 100%;
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    animation: mainHeaderAnimation 2s forwards;
}

h1 {
    font-size: 96px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px var(--text-color),
                 0 0 10px var(--text-glow),
                 0 0 30px var(--text-glow),
                 0 0 40px var(--text-color),
                 0 0 50px var(--text-glow),
                 0 0 60px var(--text-color),
                 0 0 70px var(--text-glow),
                 0 0 80px #000000;
}

p {
    font-size: 20px;
    margin-bottom: 2px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.button {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 50%;
    max-width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    margin: 0px;
    
    transition: background-color 0.15s ease-in-out;

    border: 3px solid transparent;
    border-image: linear-gradient(45deg, var(--border-color1), var(--border-color2));
    border-image-slice: 1;
    border-radius: 4px;
    animation: borderAnimation 1s infinite alternate;
    animation-delay: calc(var(--delay) * 1ms);
}

a {
    text-decoration: underline;
    color: var(--text-color);
}

.button:hover {
    background-color: var(--hover-color);
}

@keyframes mainHeaderAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes borderAnimation {
    0% {
        border-image-source: linear-gradient(45deg, var(--border-color1), var(--border-color2));
    }
    100% {
        border-image-source: linear-gradient(45deg, var(--border-color2), var(--border-color1));
    }
}


.cursor {
    width: 7px;
    height: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.85;
    z-index: 10000;
    
}