@import url('/storage/css/themes.css');

:root {
    --background-image: url('/images/backgrounds/seraph/updatelogbg.jpg');
    --hover-color: #a19b9b;
}
:root.theme-azurite {
    --background-image: url('/images/backgrounds/azure/updatebg.jpg');
}
:root.theme-retro {
    --background-image: url('/images/backgrounds/retro/updatebg.jpg');
}
:root.theme-cosmic {
    --background-image: url('/images/backgrounds/cosmic/updatebg.jpg');
}
:root.theme-molten {
    --background-image: url('/images/backgrounds/molten/updatebg.jpg');
}
:root.theme-amethyst {
    --background-image: url('/images/backgrounds/amethyst/updatebg.jpg');
}
:root.theme-ethereal {
    --background-image: url('/images/backgrounds/ethereal/updatebg.jpg');
}
:root.theme-misinformation {
    --background-image: url('/images/backgrounds/misinformation/updatebg.gif');
}
:root.theme-subzero {
    --background-image: url('/images/backgrounds/subzero/updatebg.jpg');
}
:root.theme-metro {
    --background-image: url('/images/backgrounds/metro/updatebg.jpg');
}
:root.theme-ghostly {
    --background-image: url('/images/backgrounds/ghostly/update.jpg');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    display: flex;
    text-align: left;
    flex-direction: column;
    background-color: var(--background-color);

    background-image: var(--background-image);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    animation: fadein 1s ease-in-out forwards;
}

#content-side {
    width: 100%;
    flex-grow: 1; 
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: mainHeaderAnimation 1s ease-in-out forwards;
}


h1 {
    font-size: 96px;
    text-align: center;

    text-shadow: 0 0 10px var(--text-color),
                 0 0 10px var(--text-glow),
                 0 0 30px var(--text-glow),
                 0 0 40px var(--text-color),
                 0 0 50px var(--text-glow),
                 0 0 60px var(--text-color),
                 0 0 70px var(--text-glow),
                 0 0 80px #000000;
}

h2 {
    font-size: 50px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;  
}

a {
    text-align: center;
    
}

p {
    font-size: 16px;
    margin-bottom: 1px;
}

ul {
    border-radius: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

li {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 3px solid var(--border-color2);
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--hover-color);
    color:var(--text-color);
}

select {
    background-color: var(--background-color);
    color: var(--text-color);
    width: 50%;
    max-width: 400px;
    padding-top: 5px;
    font-size: 20px;
    padding-bottom: 5px;
    border: 3px solid var(--border-color2);
    margin: 2px;
    border-radius: 32px;
    padding-left: 10px;
    
    padding-right: 10px;
    font-family: var(--font-family);
    animation: searchTween 1.5s ease-in-out forwards;
}

.version-content {
    display: none;
}
.version-content.default {
    display: block;
}

.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
}

@keyframes blink-caret {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes mainHeaderAnimation {
    0% {
        opacity: 0;
        transform: translateX(-5%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.cursor {
    width: 7px;
    height: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.85;
    z-index: 10000;
    
}

.center a {
    display: inline-block;
    position: relative;
    top: 50%;
    color: var(--text-color);
    transform: translateY(-50%);
}
  
  