@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu/Ubuntu.woff2') format('woff2'),
         url('../fonts/ubuntu/Ubuntu.woff') format('woff'),
         url('../fonts/ubuntu/Ubuntu.ttf') format('truetype'),
         url('../fonts/ubuntu/Ubuntu.otf') format('otf');
}

@font-face {
    font-family: 'PixelifySans';
    src: url('../fonts/pixelifysans/pixelifysans.woff2') format('woff2'),
         url('../fonts/pixelifysans/pixelifysans.woff') format('woff'),
         url('../fonts/pixelifysans/pixelifysans.ttf') format('truetype'),
         url('../fonts/pixelifysans/pixelifysans.otf') format('otf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('../fonts/inconsolata/Inconsolata.woff2') format('woff2'),
         url('../fonts/inconsolata/Inconsolata.woff') format('woff'),
         url('../fonts/inconsolata/Inconsolata.ttf') format('truetype'),
         url('../fonts/inconsolata/Inconsolata.otf') format('otf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/raleway.woff2') format('woff2'),
        url('../fonts/raleway/raleway.woff') format('woff'),
        url('../fonts/raleway/raleway.ttf') format('truetype'),
        url('../fonts/raleway/raleway.otf') format('otf');
}

@font-face {
    font-family: 'Impact';
    src: url('../fonts/impact/impact.woff2') format('woff2'),
        url('../fonts/impact/impact.woff') format('woff'),
        url('../fonts/impact/impact.ttf') format('truetype'),
        url('../fonts/impact/impact.otf') format('otf');
}

:root {
    --background-image: url('../../images/backgrounds/seraph/updatelogbg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: #fff;
    --background-color: black;
    --border-color1: #ffffff;
    --border-color2: #c1bcbc;
    --hover-color: #1a1818;
    --text-glow: #000000
}

:root.theme-azurite {
    --background-image: url('../../images/backgrounds/azure/updatebg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: #c8d9e9; 
    --border-color1: #2d6cc4;
    --border-color2: #111633;
    --background-color: #495092;
    --hover-color: #373e7d;
    --text-glow: #4e5bd0;
}

:root.theme-retro {
    --background-image: url('../../images/backgrounds/retro/updatebg.png');
    --font-family: 'PixelifySans', 'Ubuntu', sans-serif;
    --text-color: #ffffff; 
    --border-color1: #2fce56;
    --border-color2: #375945;
    --background-color: #2f8154;
    --hover-color: #258a79;
    --text-glow: #4ed089;
}

:root.theme-cosmic {
    --background-image: url('../../images/backgrounds/cosmic/updatebg.png');
    --font-family: 'Inconsolata', 'Ubuntu', sans-serif;
    --text-color: #ffffff; 
    --border-color1: #d9d9d9;
    --border-color2: #3e3d3d;
    --background-color: #121212;
    --hover-color: #181a1a;
    --text-glow: #d6c9c9;
}

:root.theme-molten {
    --background-image: url('../../images/backgrounds/molten/updatebg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: #f58484; 
    --border-color1: #e70e0e;
    --border-color2: #742e2e;
    --background-color: #892525;
    --hover-color: #9b2121;
    --text-glow: #dc1010;
}

:root.theme-amethyst {
    --background-image: url('../../images/backgrounds/amethyst/updatebg.png');
    --font-family: 'Raleway', sans-serif;
    --text-color: #c284f5; 
    --border-color1: #6c0ee7;
    --border-color2: #4c1587;
    --background-color: #502589;
    --hover-color: #5f24ae;
    --text-glow: #662589;
}

:root.theme-ethereal {
    --background-image: url('../../images/backgrounds/ethereal/updatebg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: #84f5ac; 
    --border-color1: #00fb82;
    --border-color2: #bbe9c3;
    --background-color: #258969;
    --hover-color: #219b48;
    --text-glow: #6c957b;
}

:root.theme-misinformation {
    --background-image: url('../../images/backgrounds/misinformation/updatebg.gif');
    --font-family: 'Impact', sans-serif;
    --text-color: #d94cd0;
    --background-color: rgb(87, 40, 169);
    --border-color1: #ff0000;
    --border-color2: #00ff0d;
    --hover-color: rgb(220, 78, 78);
    --text-glow: #000000
}

:root.theme-subzero {
    --background-image: url('../../images/backgrounds/subzero/updatebg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: rgb(255,255,255); 
    --border-color1: rgb(13, 12, 80);
    --border-color2: rgb(0, 0, 153);
    --background-color: rgb(0, 4, 78);
    --hover-color: rgb(10, 15, 112);
    --text-glow: rgb(34, 13, 110);
}

:root.theme-metro {
    --background-image: url('../../images/backgrounds/metro/updatebg.png');
    --font-family: 'Ubuntu', sans-serif;
    --text-color: rgb(228, 215, 171); 
    --border-color1: rgb(183, 133, 91);
    --border-color2: rgb(169, 98, 39);
    --background-color: rgb(134, 71, 19);
    --hover-color: rgb(159, 85, 24);
    --text-glow: rgb(110, 84, 13);
}

body {
    background-color: var(--background-color);
    background-image: var(--background-image);
    text-align: left;
    font-family: var(--font-family);
    animation: mainHeaderAnimation 1s ease-in-out;
    color: var(--text-color);
    
    height: 100vh;
    scrollbar-width: none; 
    -ms-overflow-style: none;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    width: 0;
}


h1 {
    font-size: 96px;
    margin-bottom: 10px;  
    text-align: center;

    text-shadow: 0 0 10px var(--text-color),
                 0 0 10px var(--text-glow),
                 0 0 30px var(--text-glow),
                 0 0 40px var(--text-color),
                 0 0 50px var(--text-glow),
                 0 0 60px var(--text-color),
                 0 0 70px var(--text-glow),
                 0 0 80px #000000;
}

h2 {
    font-size: 50px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;  
}

a {
    text-align: center;
    
}

p {
    font-size: 16px;
    margin-bottom: 1px;
}

ul {
    border-radius: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
}

li {
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 3px solid var(--border-color2);
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--hover-color);
    color:var(--text-color);
}

.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto; 
}

@keyframes blink-caret {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes mainHeaderAnimation {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.cursor {
    width: 7px;
    height: 7px;
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    opacity: 0.85;
    z-index: 10000;
    
}

.center a {
    display: inline-block;
    position: relative;
    top: 50%;
    color: var(--text-color);
    transform: translateY(-50%);
}
  
  