@import url('https://fonts.googleapis.com/css?family=Lato');

html {
    --bg: #36393c;
    --emojired: #DD2E44;
    --emojiyellow: #F4900C;
    --emojigreen: #77B255;
    --emojiblue: #3B88C3;
    --emojipurple: #9266CC;

    --yellowfont: #ccff55;
    --greenfont: #00FF64;
    --bluefont: #00A2FF;

    background-color: var(--bg);
    height: 100%;

    overflow: hidden;
    transition-duration: 0.2s;
    transition-property: background-color;

    --mainhotbarwidth: 855px;
    --mobilehotbarwidth: 90%;
    --largehotbarwidth: calc(var(--mainhotbarwidth) * 2)
}

body {
    margin: 0 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

body.dragOver {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 0.2s;
}

#everything {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
}

p, h1, vol {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
    -webkit-text-size-adjust: none
}

h1 {
    font-size: 24px;
}

vol {
    display: block;
    margin: 0px 0px;
}

a {
    color: aqua !important;
}

img {
    -webkit-user-drag: none;
}

.iconbox, .infobox, .title {
    margin: auto;
}

.iconbox.loadingIcons {
    flex-wrap: nowrap;
    justify-content: center;
}

.multiline {
    line-height: 27px;
}

.title {
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 30px;
}

.sideboxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.infobox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.infobox span {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.infobox span p {
    margin: 0px 0px;
    display: block;
}

.infobox span p:after { content: "•"; margin: 0px 7px; font-size: 14px; }
.infobox span p:last-child:after { content: none; }

.iconbox {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.25);
    min-height: 80px;
    user-select: none;
    padding: 20px 10px;
    margin-bottom: 20px;
    scrollbar-width: thin;
    touch-action: manipulation;
}

.iconbox img, .hotbar img {
    cursor: pointer;
    border-radius: 8px;
    color: white;
    object-fit: contain;
    width: 56px;
    height: 56px;
    padding: 5px 5px;
    display: block;
    font-family: Lato, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.iconbox div, .hotbar div {
    border-radius: 8px;
    position: relative;
}

.iconbox div:hover img, .hotbar div:hover img {
    background-color: rgba(255, 255, 255, 0.15);
}

#sequence .holdingShift:hover img {
    background-color: rgba(64, 255, 64, 0.33);
}

.iconbox .group {
    width: 1000px;
}

#icons, #actions, .hotbar {
    overflow-y: auto;
}

#everything::-webkit-scrollbar, .iconbox::-webkit-scrollbar, .fancyScroll::-webkit-scrollbar {
    width: 12px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

#everything::-webkit-scrollbar-thumb, .iconbox::-webkit-scrollbar-thumb, .fancyScroll::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
}

#everything::-webkit-scrollbar-corner, .iconbox::-webkit-scrollbar-corner, .fancyScroll::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

#sequence {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 7.5px 20px;
    margin-bottom: 0px;
}

#sequence div {
    height: 70px;
    overflow-y: scroll;
    scrollbar-width: none;
}

#sequence img {
    width: 58px;
    height: 58px;
    padding: 6.5px 6px;
    margin-bottom: 200px;
    margin-top: 200px;
}

#sequence div::-webkit-scrollbar {
    width: 0px;
    background: rgba(0, 0, 0, 0);
}

#sequence section {
    display: flex;
    flex-wrap: wrap;
    border: 2.5px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    min-height: 75px;
    min-width: 75px;
}

section:not(:empty) + section:empty {
    background-color: rgba(255, 255, 255, 0.05);
}

#sequence section:not(:last-child) {
    margin-bottom: 40px;
}

#sequence section.holdingCtrl:not(.removedDivider) {
    border-color: aqua;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

#sequence section.selectedDivider {
    border-color: lime !important;
}

#sequence section.sectionHidden:not(.selectedDivider) {
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    border-color: rgba(255, 255, 255, 0.25);
    overflow: hidden;
}

#sequence section.sectionHidden {
    opacity: 33%;
}

#sequence section.sectionHidden:not(.selectedDivider) div {
    pointer-events: none;
}

.iconbox p, .iconbox vol {
    width: 100%;
    font-weight: bold;
    text-shadow: 0px 0px 4px black;
    position: absolute;
}

#sequence p {
    top: 235px;
    white-space: nowrap;
    overflow-x: auto;
}

#sequence vol {
    top: 201px;
    text-align: right;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 13px;
    color: #cccccc;
}

#actions p {
    right: 25px;
    top: 16px;
    font-size: 26px;
}

.playbuttons {
    display: flex;
    justify-content: left;
    flex-direction: column;
    user-select: none;
}

.playbuttons div {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    border-radius: 8px;
    padding-left: 15px;
    transition-duration: 0.1s;
    cursor: pointer;
}

.playbuttons p {
    font-size: 16px;
    margin: 0px 0px 7px 0px;
    text-align: left;
}

.playbuttons h1 {
    margin: 0px 0px 2px 0px;
}

.playbuttons img {
    margin: 12px 16px 12px 0px;
    width: 36px;
    height: 36px;
}

.playbuttons div:hover { transform: scale(1.02) }
.playbuttons div:active { transform: scale(1.05) }

.sectionControls {
    display: flex;
}

.sectionControls img {
    height: 40px;
    margin-right: 15px;
    cursor: pointer;
    user-select: none;
}

.sectionControls img.cantSelect {
    opacity: 33%;
    pointer-events: none;
}

.sectionControls img:hover { transform: scale(1.02) }
.sectionControls img:active { transform: scale(1.05) }

#sectionSettings.pinnedSettings {
    position: fixed;
    background-color: #262626;
    border-top-right-radius: 8px;
    border-top: 3px solid #202020;
    border-right: 3px solid #202020;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    padding: 12px 0px 12px 12px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}

#sectionSettings.pinnedSettings .noPin {
    display: none;
}

#sectionSettings.pinnedSettings.pinnedHidden {
    transform: translateY(250%);
}

.saveButtons div {
    width: 180px;
    background-color: var(--emojipurple);
    margin: 8px 16px 16px 16px;
}

.alreadySaved {
    pointer-events: none;
    opacity: 50%;
    /* background-color: rgba(120, 100, 140, 0.5) !important; */
}

.credits {
    display: flex;
    justify-content: center;
}

.credits p {
    color: rgba(255, 255, 255, 0.33) !important;
    margin: 10px 20px;
}
.credits a { color: rgba(255, 255, 255, 0.66) !important }

.socialLinks {
    display: flex;
    justify-content: center;
}

.socialTag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    width: 105px;
}

.socialTag a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline white;
}

.socialTag p {
    font-size: 20px;
    margin: 0px 0px 0px 2px;
}

.socialTag img {
    height: 20px;
    margin-right: 5px;
}

.sortPlaceholder {
    opacity: 15%;
}

.shiftPlaceholder {
    display: block !important;
}

.popup {
    position: fixed; 
    display: flex;
    align-content: center;
    justify-content: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0,0,0,0.66);
    z-index: 3;
    text-align: center;
}

.popupbox {
    background-color: var(--bg);
    border-radius: 5px;
    width: 500px;
    padding: 10px 5px 30px 5px;
}

.popupdesc {
    margin-top: 0px;
    width: 400px;
    margin: auto;
    line-height: 24px;
}

.popupinput {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupinput p {
    margin: 0px 0px 0px 10px;
    font-size: 18px;
}

.extraSetting {
    display: flex;
    align-items: center;
    margin: 5px 00px;
    width: 200px;
    cursor: pointer;
}

.extraSetting p {
    margin: 0px 5px;
    text-align: left;
}

.extraSetting:hover {
    text-decoration: underline;
    text-decoration-color: white;
    text-decoration-style: dotted;
}

.settingList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3px 45px;
    margin-top: 10px;
}   

.shortcutList {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    height: 515px;
    overflow: auto;
    justify-content: space-between;
    margin: 0px 15px 30px 15px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.shortcutList .groupName {
    text-decoration: underline;
}

.shortcutSection {
    width: 320px;
    margin-bottom: 20px;
}

button, input {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    color: white;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}

input[type=number] {
    font-weight: bold;
    width: 90px;
    -moz-appearance: textfield;
}

input[type=checkbox] {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

input[type=checkbox]:before {
    width: 24px;
    height: 24px;
    display: inline-block;
    content: "";
    background-image: url(../assets/check_off.svg);
}

input[type=checkbox]:checked:before {
    background-image: url(../assets/check_on.svg);
}

input[type=color] {
    visibility: hidden;
    pointer-events: none;
}

.colorPreview {
    border-radius: 5px;
    border: 2px solid black;
    width: 38px;
    height: 38px;
    margin-left: 12px;
    cursor: pointer;
}

button {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition-duration: 0.1s;
    margin: 0px 5px;
}

#proHotbar {
    position: fixed;
    bottom: 30px;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    pointer-events: none;
    --hotbarwidth: var(--mainhotbarwidth);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-property: transform;
}

#proHotbar.playing {
    transform: translateY(250%);
}

.hotbar {
    pointer-events: all;
    border: 3px solid black;
    width: var(--hotbarwidth);
    height: 140px;
    border-radius: 8px;
    background-color: #1d1d1d;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    user-select: none;
    touch-action: manipulation;
    scrollbar-width: thin;
    padding: 6px 6px;
    overflow: auto;
}

.hotbar img {
    width: 48px;
    height: 48px;
    padding: 5px 11px;
}

.hotbar p {
    position: absolute;
    right: 48px;
    top: 8px;
    font-size: 24px;
}

.hotbarLabel {
    margin-bottom: 5px;
    margin-left: 10px;
    text-shadow: 1px 1px 3px black, -1px -1px 3px black, 1px -1px 3px black, -1px 1px 3px black;
}

.hotbarTabs {
    width: var(--hotbarwidth);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.hotbarTab {
    pointer-events: all;
    width: 70px;
    height: 36px;
    border: 3px solid black;
    border-bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-right: 5px;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.1s;
}

.hotbarTab:first-child {
    margin-left: 5px
}

.hotbarTab img {
    user-select: none;
    height: 65%;
    opacity: 50%;
    transition-duration: 0.1s;
}

.hotbarTab.selectedTab {
    transform: translateY(3px);
    height: 38px;
    cursor: default;
}

.hotbarTab.selectedTab img {
    opacity: 100%;
}

.hotbarTab:hover img {
    opacity: 75%;
}

#hotbarHovertext {
    max-width: 445px;
}

button:hover, .imgButton:hover { transform: scale(1.05); }
button:active, .imgButton:active { transform: scale(1.1); }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }

@media screen and (max-width: 1000px) {
    #icons_container { width: 428px !important; }
    #main { width: 750px !important; }
    .title { width: 720px !important; white-space: normal !important; }
    .infobox { flex-direction: column; align-items: flex-start; }
    .infobox h1 { margin-bottom: 3px; }
    .infobox span p { text-align: right; margin: 4px 0px 0px 0px; }
    .infobox span p:after { content: "•"; margin: 0px 4px; font-size: 12px; }
    .hotbar, .hotbarTabs { width: var(--mobilehotbarwidth) }
    #proHotbar { --hotbarwidth: --mobilehotbarwidth; bottom: 50px; }
    #hotbarNotes { height: 250px; }
    #hotbarHovertext { max-width: 250px; }
    #extraPadding { height: 400px !important }
}
@media screen and (min-width: 1000px) {
    .mobileOnly { display: none !important; }
}
@media screen and (min-width: 2500px) {
    #hotbarNotes { height: 15vh; }
}
@media screen and (min-width: 3250px) {
    #proHotbar { --hotbarwidth: var(--largehotbarwidth) }
}

.placed { animation: smallbounce 0.3s }
.bounce { animation: bounce 0.4s }
.pulse { animation: pulse 0.4s }
.screenflash { animation: screenflash 0.66s }
.screenpulse { animation: screenpulse 0.33s }
.triggered { animation: greyout 0.2s; animation-fill-mode: forwards; }

@keyframes bounce {
    0%   { transform: translateY(0); animation-timing-function: ease-out; }
    40%  { transform: translateY(-15px); animation-timing-function: ease-in; }
    0%   { transform: translateY(0); }
}

@keyframes smallbounce {
    0%   { transform: translateY(0); animation-timing-function: ease-out; }
    40%  { transform: translateY(-5px); animation-timing-function: ease-in; }
    0%   { transform: translateY(0); }
}

@keyframes pulse {
    0%   { transform: scale(1); animation-timing-function: ease-out; }
    50%  { transform: scale(1.1); animation-timing-function: ease-in; }
    0%   { transform: scale(1); }
}

@keyframes greyout {
    0%   { opacity: 100%; filter: grayscale(0); animation-timing-function: ease-out; }
    100%   { opacity: 50%; filter: grayscale(0.15); }
}

@keyframes screenflash {
    0%   { background-color: rgba(255, 255, 255, 0.66); }
    100%   { background-color: rgba(255, 255, 255, 0); }
}

@keyframes screenpulse {
    40%   { transform: scale(1.05); animation-timing-function: ease-out; }
    100%  { transform: scale(1); animation-timing-function: ease-in; }
}